.pageheader {
  background-color: #4f7661; /* Bootstrap success green or use any green shade */
  padding: 80px 0; /* Top and bottom spacing */
  text-align: center; /* Center horizontally */
  border-radius: 20px;
}

.pageheader h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: white; /* Text color */
}


/* section 1 */
.contact-section {
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: tenor sans, sans-serif;
}

.consultation-box {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 10px 50px;
}

.consultation-title {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #4F7661;
  border-bottom: 1px solid #C2DCD0;
  padding-bottom: 33px;
  margin-bottom: 14px;
}


/* section 2 */


.studio-info-container {
  background-color: #4f7661;
  color: white;
  border-radius: 8px;
  height: 100%;
  padding:  4.5rem 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.studio-title {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.studio-description {
  margin-bottom: 1.5rem;
  font-size: 18px;
}

.office-title {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 22px;
  color: black;
}

.office-address {
  margin-bottom: 0;
  font-size: 18px;
}

/* section 3 */
.contact-form h4{
 font-size: 30px;
}
.custom-line-form input:focus,
.custom-line-form textarea:focus {
  box-shadow: none;
  border-color: #4f7661;
}

@media (max-width: 767.98px) {

  .pageheader {
  padding: 30px 0; /* Top and bottom spacing */
}

.contact-box{
  text-align: center;
}

.consultation-title {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #4F7661;
  border-bottom: 1px solid #C2DCD0;
  padding-bottom: 33px;
  margin-bottom: 14px;
}
.studio-info-container{
  text-align: center;
   padding:  1.5rem 3.5rem;
}

.studio-description{
    text-align: center;
  }

  .office-address{
    text-align: center;
  }
}